
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

image {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

@keyframes dislayElement {
    0% {
        opacity: 0;
        margin-top: -4rem;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes hideElement {
    0% {
        opacity: 1;
        margin-top: 0;
    }

    100% {
        opacity: 0;
        margin-top: -4rem;

    }
}

.showAccordion {
    animation: dislayElement 0.6s forwards;
}
.hideAccordion {
    animation: hideElement 0.6s forwards;
}


